/* =========================
   MOBILE ADJUSTMENTS
========================= */
@media (max-width: 768px) {

  .hero-container {
    flex-direction: column-reverse;
    text-align: center;
    gap: var(--spacing-xl);
  }

  .hero-text, .hero-image {
    width: 100%;
    margin-left: 0;   /* reset mobile spacing */
  }

  .hero-name {
    width: 100%;      /* auto width for mobile */
  }

  .hero-name.hindi .name-inner {
    transform-origin: center;
  }
}
